<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/main.css">
    <script src="/chartjs/chart.umd.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://kit.fontawesome.com/c2604ad90b.js" crossorigin="anonymous"></script>
    <title>TrackMint</title>
</head>

<body>
    <%-include ('../partials/navbar.ejs') %>
    <%-include('../partials/flash.ejs') %>

    <%-body%>

    <%-include ('../partials/footer.ejs') %>

</body>
</html>

